[Unit]
Description=Consul Service Discovery Agent Version {{ consul_version }}
Documentation=https://www.consul.io/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=consul
Group=consul
ExecStart={{ consul_binary_path }}/consul agent \
	-node={{ inventory_hostname }} \
	-config-dir={{ consul_dir_config }}

ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
TimeoutStopSec=5
Restart=on-failure
SyslogIdentifier=consul

[Install]
WantedBy=multi-user.target